@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

html { 
        min-height: 100%;
}

body {
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'lato', sans-serif;

}

header {
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background: #E0E0E0;
}

/*Parte completa do Header Logo&Texto + Navegação*/

.header {
    max-width: 1500px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 40px;
    height: 36.84px;
}

.agrupamento {
    width: 471px;
    height: 43px;
    margin-top: 20px;
    margin-left: 200px;
    margin-bottom: 20px;
}
.agrupamento a {

    text-decoration: none;

}

.Esc {
    display: none;
}

.textop {
    margin-top: 0px;
    display: inline-flex;
    padding-left: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
    font-style: normal;
    color: #333333;
}

.botoes-cabecalho {
    background-color: white;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 200px;
}



.botoes-cabecalho a {
    padding: 5px 10px;
    text-decoration: none;
    color: #333333;

}

.linha {
    width: 20px;
    border: 1px solid #979797;
    transform: rotate(90deg);
}

.hamburguer-button{
    position: fixed;
    left: -100%;
    opacity: 0;
}

/*Seção Dashboard*/
.Form {
    margin-top: 30px;
    width: 400px;
    height: 344px;
    margin-left: 200px;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
}

.FormBorder{
    border: 1px solid #979797;
    border-radius: 4px;
    margin-left: 200px;
    box-sizing: border-box;
}

.FormTitle {
    align-self: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.FormTT {
    height: 57px;
    width: 100%;
    border-radius: 0px;
}
.FormTT2 {
    height: 22.22222137451172px;
    width: 100%;
}

.PreInputText {
    padding-left: 15px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    margin: 0px;

}

.InputText {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #888888;

}

.SelectVC {
    box-sizing: border-box;
    margin-left: 15px;
    width: 92%;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 4px;
}

.InputBox {
    box-sizing: border-box;
    margin-left: 15px;
    height: 32px;
    width: 92%;
    background: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 4px;
}

.InputButton {
    box-sizing: border-box;
    background: #333333;
    width: 93%;
    height: 32px;
    margin-left: 15px;
    border-radius: 4px;
    margin-top: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

/*Tabela De Extrato*/

.TableCustom {
    position: relative;
    display: inline-grid;
    padding-left: 20px;
    height: 281px;
    width: 680px;
}

.TableTitle {
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

table {
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    border-bottom: 1px solid #979797;
  }

.Diff {
    border-top: 1px solid #979797;
    border-bottom: 0px;
}


.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/*Footer*/
footer {
    position: fixed;
    bottom:0;
    top: auto;
    width: 100%;
    display: flex;
    border: 8px #333333 solid;
}

/*Responsivo*/

@media (min-width: 1098px) and (max-width: 1469px) { 
    .TableCustom {
        position: relative;
        display: inline-grid;
        padding-left: 20px;
        height: 281px;
        width: 652px;
    }
    .Form {
        margin-top: 30px;
        width: 400px;
        height: 344px;
        margin-left: 0px;
        display: inline-flex;
        flex-direction: column;
        align-content: center;
    }
    .FormBorder{
        border: 1px solid #979797;
        border-radius: 4px;
        margin-left: 20px;
        box-sizing: border-box;
    }
    .agrupamento {
        width: 471px;
        height: 43px;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .botoes-cabecalho {
        background-color: white;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 20px;
    }

 }

 @media (min-width: 769px) and (max-width: 1111px) { 
    .TableCustom {
        position: relative;
        display: inline-grid;
        height: 281px;
        width: 100%;
        padding: 0px;
        padding-bottom: 50px;
    }
    table {
        margin: 20px;
    }
    .Form {
        margin-top: 30px;
        width: 400px;
        height: 344px;
        margin-left: 0px;
        display: inline-flex;
        flex-direction: column;
        align-content: center;
    }
    .FormBorder{
        border: 1px solid #979797;
        border-radius: 4px;
        margin-left: 20px;
        box-sizing: border-box;
    }
    .agrupamento {
        width: 471px;
        height: 43px;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .botoes-cabecalho {
        background-color: white;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 20px;
    }

 }

 @media (min-width: 412px) and (max-width: 768px) {
    .botoes-cabecalho {
    position: absolute;
    top: 0px;
    display: inline;
    width: 252px;
    text-align: right;
    height: 1000px;
    opacity: 100;
    right: 0px;
    margin: 0px;
    background: #333333;
    z-index: 1;
    }
    .agrupamento {
        width: 100%;
    }
    .hamburguer-button{
        position: absolute;
        left: 95%;
        opacity: 1;
        height: 18px;
        width: 12px;
        font-size: 18px;
    }
    .linha {
        opacity: 0;
        position: fixed;
        left: -100%;
    }
    .botoes-cabecalho a {
        display: block;
        margin-right: 20px;
        text-decoration: none;
        color: #FFF;
        position: relative;
        text-align: right;
    
    }
    .Esc {
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    left: 20px;
    color: #FFF;
    }

    .ativo {
        background-color: #C4C4C4;
        width: 230px;
    }

    .Form {
        margin-top: 30px;
        width: 95%;
        height: 189px;
        display: flex;
        justify-content: center;
        margin-left: 20px;
        padding-right: 20px;
    }
    .FormBorder{
        border: 1px solid #979797;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .FormTitle {
        position: relative;
        top: 30%;
        display: inline;
        width: 100%;
        justify-content: center;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    .responsivo1 {
        position: relative;
        width: 23%;
        left: 0%;
        right: 76.65%;
        top: 32.28%;
        bottom: 37.57%;
    }
    .responsivo2 {
        position: relative;
        width: 54%;
        left: 24.1%;
        right: 26.1%;
        bottom: 6.7%;
    }
    .responsivo3 {
        position: relative;
        width: 23%;
        left: 76.65%;
        bottom: 46.62%;
    }
    .botao-responsivo {
        position: relative;
        width: 28%;
        height: 32px;
        left: 70%;
        right: 0px;
        bottom: 45%;
    }
    .TableCustom {
        position: relative;
        display: inline-grid;
        height: 281px;
        width: 100%;
        padding: 0px;
    }
    table {
        margin: 20px;
    }
    
 }

 @media(max-width: 411px) {
    .botoes-cabecalho {
        position: absolute;
        top: 0px;
        display: inline;
        width: 89%;
        height: 1000px;
        opacity: 100;
        right: 0px;
        margin: 0px;
        background: #333333;
        z-index: 1;
        }
        .hamburguer-button{
            position: absolute;
            left: 95%;
            opacity: 1;
            height: 18px;
            width: 12px;
            font-size: 18px;
        }
        .linha {
            opacity: 0;
            position: fixed;
            left: -100%;
        }
        .botoes-cabecalho a {
            display: block;
            text-decoration: none;
            color: #FFF;
            position: relative;
            text-align: right;
            padding-right: 20px;
        
        }
        .Esc {
            display: block;
            position: relative;
            width: 16px;
            height: 16px;
            left: 20px;
            color: #FFF;
            }
        .ativo {
            background-color: #C4C4C4;
        }
        .agrupamento {
            width: 100%;
            margin: 0px;
            display: flex;
        }

        .textop {
            padding-left: 45px;
        }
        
        .Form {
            margin-top: 30px;
            width: 100%;
            height: 40%;
            margin-left: 0px;
        }
        .FormBorder{
            border: 0px solid #979797;
            border-radius: 4px;
            box-sizing: border-box;
        }
    
        .FormTitle {
            display: none;
            width: 100%;
            justify-content: center;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
        }
        .TableCustom {
            position: relative;
            display: flex;
            flex-direction: column;
            padding-left: 0px;
            height: 60%;
            width: 100%;
        }
        table {
            margin: 20px;
        }
        .Diff2 {
                margin-top: 28px;
                border-top: 1px solid #979797;
                border-bottom: 0px;
        }
 }